/* google foonts */


  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Tilt+Prism&display=swap');

/* End */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*------------- 
Main Nav
---------------*/
.main-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Header Text Logo */
.header-logo{
    margin-top: 70px;
    margin-left:90px;
    
}
.header-logo{
    color: #3A3A3A;
    font-size: 20px;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
}
.nav-picker ul li{
    list-style: none;
}
.ul{
    display: flex;
    margin-right: 80px;
}
.main-nav .nav-picker ul li{
    margin-right: 25px;
    margin-top: 70px;
    
}
.main-nav .nav-picker ul li a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;

}
.icon{
    height: 150px;
    width: 40px;
    margin-right: 25px;
    color: #000000;
    
}
.span-top{
    margin-top: 75px;
    
}
