/* google foonts */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Slab&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Tilt+Prism&display=swap');

/* End */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffebeb;
    
}
/*------------- 
Main Nav
---------------*/
.main-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Header Text Logo */
.header-logo{
    margin-top: 70px;
    margin-left:90px;
    
}
.header-logo{
    color: #3A3A3A;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}
.nav-picker ul li{
    list-style: none;
}
.ul{
    display: flex;
    margin-right: 80px;
}
.main-nav .nav-picker ul li{
    margin-right: 25px;
    margin-top: 70px;
    
}
.main-nav .nav-picker ul li a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    transition: 0.8s;

}
.main-nav .nav-picker ul li a:hover{
    box-shadow: 5px 5px 5px 5px lavender;
    border-radius: 10px;
    margin: 5px;
    font-size: 19px;
    
}
.icon{
    height: 150px;
    width: 40px;
    margin-right: 25px;
    color: #000000;
    
}
.span-top{
    margin-top: 75px;
    
}
.fa-right-long{
    background-color:#E02C6D ;
}
/* --------------
nav end
 -----------------*/
.container{
    width: 582px;
    height: 270px;
    margin-top: 150px;
    margin-left: 90px;
    display: flex;
}
.container .left-items-in-head h1{
    color: #3A3A3A;
    font-size: 40px;
    font-weight:bold;
    font-family: 'Poppins', sans-serif;
    
}
.container .left-items-in-head p{
    color: #000000;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight:500;
    margin-top: 25px;
}
.container .left-items-in-head button{
    width: 160px;
    height: 38px;
    margin-top: 35px;
    background-color: #E02C6D;
    border: none;
    border-radius: 50px;
    color: white;
    transition: 0.5s;
    font-size: 18px;
    

}
.container .left-items-in-head button:hover{
    width: 165px;
}
.fa-right-long{
    margin-left: 5px;
}
/* ===end===== */


/* ------right-items--------- */

.img-main{
    margin-left: 780px;
    margin-top: -300px;
    
    
}
.img-main img{
    width: 347px;
    height: 347px;
    transition: 1s;
}
.img-main:hover img{
    transform: rotate(45deg);
}
/* end */

/* middle-part */
.companys{
    width: 1110px;
    height: 110px;
    
    margin-left: 75px;
    margin-top: 80px;
   
}
.companys img{
    padding-left: 55px;
    margin-top: 30px;
}

#hr{
    margin-top: 30px;
    
    
}
/* last-part */
.popular-collections{
    width: 1147px;
    height: 1662px;
    margin-left: 55px;
    margin-top:150px;
}
.tittle-popular-collection{
    font-size: 28px;
    font-family: 'Poppins', sans-serif;
    color: #3A3A3A;
    margin-left: 435px;
    margin-bottom: 45px;
}
.popular-collections .collection{
    display: grid;
    grid-template-columns:1fr 1fr 1fr ;
    grid-column-gap: 0;
    grid-row-gap: 35px;
    margin-left:65px;
    margin-right:60px ;   
}
.popular-collections .collection .prodicts h2{
    font-size: 28px;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Slab', serif;
    color: #18191F;
    background-color: white ;
    padding-left: 15px;

}
.popular-collections .collection .prodicts h3{
    background-color: white ;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    padding-left: 15px;
    padding-top: 15px;
}
.popular-collections .collection .prodicts{
    width: 329px;
    height: 530px;
    background-color: white;
    border-radius: 9px;

}
.popular-collections .collection .prodicts img{
    margin-left: 15px;
    margin-top: 20px;
    transition: 1s;
}
.popular-collections .collection .prodicts img:hover{
    transform: scale(110%);
}
/* products */
.item-star-icon{
    color: orange;
    background-color: white;
    margin-top: -12px;

}
.item-star-icon .fa-star.fa-sharp.fa-solid{
    height: 16px;
    width: 16px;
    background-color:white;
}
.fa-star-half-stroke{
    background-color: white;
}
#rating{
    color:#5E6366;
    width: 29px;
    height: 26px;
    background-color: white;
    margin-left: 9px;
    font-size: 23px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    
}
.detail-of-product{
font-size: 17px;
color: #787885;
background-color: white;
font-weight: bold;
font-family: 'Inter', sans-serif;
margin-left: 18px;
margin-top: 9px;
}
/* buttons*/
#addtocart{
    background-color: #ff7b00;
    color: white;
    border: none;
    height: 28px;
    width: 80px;
    font-size: 19px;
    margin-left: 20px;
    margin-top: 19px;
    border-radius: 10px;
    
    
    
}
#addtocart:hover .use{
    background-color: #787885;
    transition: 1s;

   
}
#addtocart:hover{
    background-color: #787885;
    transition: 1s;
}
#buynow{
    background-color: #ff7b00;
    color: white;
    border: none;
    height: 28px;
    width: 80px;
    font-size: 18px;
    margin-left: 15px;
    border-radius: 9px;
    font-family: 'Roboto', sans-serif;
    transition: 1s;
 
}
#buynow:hover{
    background-color: #79c542;
}
.use{
    background-color:#ff7b00 ;
    color: #ffffff;
    
}
/* at-the end */
.section-contact{
    width: 1500px;
    height: 500px;
    background-color: #E02C6D;
    margin-top: 20%;
    margin-left: 15px;
    margin-right: 800px;
    margin-bottom: 10%;
    display: flex;
    border: none;
    border-radius: 20%;
    
}
.contact-with-us{
    width: 800px;
    
}
.contact-with-us img{
    height: 500px;
    width: 800px;
    
}
.flex{
    flex-grow: 1;
    background-color: #79c542;
    
}
.login-container{
    display: flex;
    justify-content: center;
}
.login-form{
    display: flex;
    flex-direction: column;
}
.login-form-a{
    display: flex;
    flex-direction: column;
}

.login-form input,button{
    font-size:1.3em ;
    margin-top: 18px;
    border: 1px solid rgb(181, 175, 175);
    
}
.login-form-a input,button{
    font-size:1em ;
    margin-top: 10px;
    border: 1px solid rgb(181, 175, 175);
    
}
.login-form input{
    background-color: #3a3a3a64;
    border-radius: 10px;
    height: 30px;
}
.login-form-a input{
    background-color: #3a3a3a64;
    border-radius: 10px;
    height:20px;
}
.login-form button{
    background-color: rgb(243, 162, 0);
    transition: 0.9s;
    font-weight: 700;
    padding: 5px;
    transform: translate(-0px,5px);
    
}
.login-form-a button{
    background-color: rgb(243, 162, 0);
    transition: 0.9s;
    font-weight: 600;
    padding:3px;
    transform: translate(-0px,5px);
    
}
.login-form button:hover{
    background-color: rgb(255, 81, 0);
    transform: translate(5px,2px);
}

    
.login-container{
    margin-right: 35%;
    
}

.login-form{
    margin-top: 10%;
    border: 2px solid rgb(217, 218, 215);
    padding-left:30px;
    padding-right: 30px;
   padding-bottom: 20px;    
}
.login-form-a{
    margin-top: 7%;
    border: 2px solid rgb(217, 218, 215);
    
   
       
}



/* all media screen */

/* for mobile */
@media screen and (max-width:767px) {
  
       
    .main-nav .header-logo{
        text-align: center;
        margin-left: 60%;
        color: #000000;
        font-size: 22px;
        justify-content: center;
        align-items: center;    
    }
  
    .main-nav{
    width: 162px;
    height: 19px;
    display: flex;
    
        
    }
    .main-nav .fa-bars{
        margin-top: 70px;
        padding-left: 30px;
        width: 24px;
        height: 24px;
    }
    .nav-picker ul li{
        display: none;
        
    }
    .main-nav .nav-picker ul .fa-magnifying-glass{
       display: none;
    }
    .main-nav .nav-picker ul .fa-cart-shopping{
      padding-left:50px; 
       width: 24px;
       height: 24px;
        
    }

    .img-main img{
        
      width: 257px;
      height: 257px;
    }
    .img-main{
      
        margin-left: 15%;
    }
    .container .left-items-in-head{
        margin-top: 60%;
    }
    .container .left-items-in-head h1{
        width: 404px;
        height: 78px;
        margin-left: -30%;
        font-size: 30px;
        text-align: center;
    }
    .container .left-items-in-head p{
        margin-left: -20%;
       text-align: center;
       width: 321px;
       height: 65px;
        font-size: 14px;
    }
    .companys hr{
        display: none;
    }
    .companys{
        width: 275px;
        height: 61px;
        margin-left: -25px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 150%;
        
    }
    
    .companys img{
         
         width: 120px;
         height: 40px;
    }
    .popular-collections .tittle-popular-collection{
        width: 150px;
        height: 24px;
        margin-left: 5%;
        text-align: center;
        margin-top:18%;
        margin-bottom: 10%;

    }
    .popular-collections .collection{
        display: grid;
        grid-template-columns: 1fr;
        margin-left: -3.8%;
    }
    .section-contact  {
        display: none;
    }
    .login-form-a{
        margin-top: 1050%;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 20%;
    }
}
@media screen and (min-width:1024px) {
    .main-nav .fa-bars{
        display: none;
    }
    .login-form-a{
        display: none;
        background-color: #18191F;
    }
    
}